<div class="container text-doc">
    <h1>Пользовательское соглашение</h1>
    <b>
        Право доступа и использования контента Сайта предоставляется Пользователю компанией Raccoonogram сразу после того, как Пользователь примет все положения, правила и условия Пользовательского соглашения и Условий использования. Если по какой-либо причине Пользователь не согласен с этими положениями и не принимает условия Соглашения, он/она не имеет права заходить на Сайт и использовать его ресурсы.В случае каких-либо расхождений между положениями этого Пользовательского соглашения и Условий использования, положения, указанные в Пользовательском соглашении, имеют преимущественную юридическую силу.
    </b>
    <b>
        Raccoonogram оставляет за собой право в любое время вносить изменения, дополнения, исправления и редактирования как в Соглашение в целом, так и в какую-либо из его частей.Такие изменения вступают в силу с момента их публикации.Если Пользователь продолжает работать с Сайтом после того, как такие изменения вступят в силу, он/она подтверждает свое согласие с ними. Если в какой-либо момент Пользователь больше не может соблюдать нижеизложенные правила и условия, он должен немедленно прекратить использование Сайта и его материалов.
    </b>
    <hr />
    <h3>1. Работа с материалами сайта</h3>
    <p>
        Сайт – это ресурс, который может содержать или непосредственно содержит файлы, информацию, программное обеспечение, иллюстрации, фотографии и аналогичные файлы, которые являются объектами авторского права, товарного знака или знака обслуживания, или которые подпадают под действие других тождественных или смежных прав Raccoonogram, ее подразделений, дочерних или ассоциированных предприятий или иных третьих лиц, в том числе других пользователей Сайта.
    </p><p>
        Пользователь не имеет права передавать, продавать, публиковать, перемещать, воспроизводить, модифицировать или переделывать материалы Сайта или использовать их каким-либо иным подобным образом, как частично, так и в целом. Исключение составляют случаи, когда разрешение на такие действия четко и ясно изложено в данном Пользовательском соглашении или в каком-либо ином соглашении, которое вступает в силу с момента начала использования Сайта (например, в Соглашении о Стандартной и Расширенной лицензии).
    </p><p>
        Представленные на Сайте файлы предоставляются пользователями Raccoonogram в рамках Эксклюзивного и Неэксклюзивного соглашения поставки. (Для ознакомления с условиями такой поставки см. соответствующие разделы соглашений о Стандартной и Расширенной лицензии). Согласно с условиями соглашений поставки, Пользователь имеет возможность и право загрузить на Сайт или каким-либо иным способом разместить на нем какие-либо файлы, которые находятся в его/ее полном владении. Пользователь имеет возможность и право скачивать файлы исключительно в соответствии с условиями, установленными Соглашением о Стандартной и Расширенной лицензии и данным Пользовательским соглашением.
    </p><p>
        Как только Пользователь покупает изображение, оно становится доступным для скачивания в течение года с момента внесения оплаты. В течение этого времени Пользователь может скачать его столько раз, сколько необходимо без какой-либо дополнительной оплаты; файл остается в Меню Покупателя, в папке «Купленные файлы».
    </p>
    <h3>2. Пароли доступа</h3>
    <p>
        Пользователь подтверждает свое согласие с тем, что процесс идентификации пользователя осуществляется с целью предоставления ему/ей доступа к своему профилю пользователя и к операциям управления доступом к материалам Сайта. Имя пользователя (логин) и пароль, выбранные Пользователем, являются конфиденциальной информацией. Пользователь осознает необходимость неразглашения этой информации и обязуется держать ее в секрете, не раскрывать, не передавать и не предлагать свои личные данные третьим лицам без однозначного письменного разрешения Raccoonogram.
    </p><p>
        Пользователь подтверждает свое согласие с тем. что он/она, как владелец логина и пароля доступа, несет ответственность за каждый факт доступа к контенту Сайта с использованием указанных логина и пароля. Пользователь также осознает и соглашается с тем, что Raccoonogram автоматически признает введение его/ее логина и пароля в качестве свидетельства и бесспорного доказательства того факта, что именно Пользователь получил доступ к материалам Сайта. Пользователь осознает, что логин и пароль являются комбинацией уникальных символов, при этом Raccoonogram не налагает никаких особенных требований относительно их содержания и качества.
    </p>

    <h3>4. ОБЩИЕ ПОЛОЖЕНИЯ</h3>
    <p>
        Пользователь подтверждает, что в дополнение к условиям данного Соглашения он/она ознакомлен(а) с Условиями использования и другими соглашениями, ссылки на которые имеются в данном Соглашении, и соглашается с ограничениями, которые они на него/нею налагают.
    </p>
    <p>
        Отсутствие со стороны Raccoonogram результата действий по организации или контролю за четким исполнением положений этого или смежных соглашений не должно и не может толковаться как отказ от каких-либо прав или положений.
    </p>
    <p>
        Пользователю не разрешается полностью или частично переуступать данное Пользовательское соглашение и/или передавать права и обязательства Пользователя по данному Соглашению каким-либо третьим лицам. Raccoonogram может свободно полностью или частично переуступать данное Пользовательское соглашение и/или передавать права и обязательства Пользователя по этому Соглашению каким-либо третьим лицам на полное и абсолютное усмотрение Depositphotos.
    </p>
    <h3>5. КОНТАКТНАЯ ИНФОРМАЦИЯ</h3>
    <p>
        Если у вас возникли какие-либо вопросы относительно положений данного документа, свяжитесь, пожалуйста, с Depositphotos по нижеуказанным контактам.
    </p>
    <p>
        Контактная информация:
    </p>
    <p>
        E-mail: <a href="mailto:support@depositphotos.com">support@depositphotos.com</a>
    </p>
    <p>
        Или воспользуйтесь этой ссылкой: Контакты.
    </p>

    <h3>6. ПОДТВЕРЖДЕНИЕ</h3>
    <p>
        ПРИНИМАЯ УСЛОВИЯ ДАННОГО СОГЛАШЕНИЯ, ПОЛЬЗОВАТЕЛЬ ПОДТВЕРЖДАЕТ, ЧТО ОН ПРОЧИТАЛ ДАННОЕ СОГЛАШЕНИЕ, ПОНЯЛ ЕГО СМЫСЛ И ПЕРЕД ЕГО ЗАКЛЮЧЕНИЕМ ИМЕЛ ВОЗМОЖНОСТЬ ОБРАТИТЬСЯ ЗА НЕЗАВИСИМОЙ ПРАВОВОЙ КОНСУЛЬТАЦИЕЙ. ПРИНИМАЯ ВО ВНИМАНИЕ, ЧТО DEPOSITPHOTOS СОГЛАШАЕТСЯ ПРЕДОСТАВИТЬ МАТЕРИАЛЫ, ПОЛЬЗОВАТЕЛЬ ОБЯЗУЕТСЯ СОБЛЮДАТЬ УСЛОВИЯ ДАННОГО СОГЛАШЕНИЯ. ПОЛЬЗОВАТЕЛЬ ТАКЖЕ СОГЛАШАЕТСЯ, ЧТО ДАННОЕ СОГЛАШЕНИЕ СОДЕРЖИТ ВЕСЬ ОБЪЕМ ДОГОВОРЕННОСТЕЙ МЕЖДУ ПОЛЬЗОВАТЕЛЕМ И DEPOSITPHOTOS, ОТМЕНЯЕТ И ЗАМЕНЯЕТ СОБОЙ ВСЕ ПРЕДЛОЖЕНИЯ ИЛИ ПРЕДЫДУЩИЕ ДОГОВОРЕННОСТИ, СОСТАВЛЕННЫЕ УСТНО ИЛИ В ПИСЬМЕННОМ ВИДЕ, А ТАКЖЕ КАКОЙ-ЛИБО ДРУГОЙ ОБМЕН ИНФОРМАЦИЕЙ МЕЖДУ ПОЛЬЗОВАТЕЛЕМ И DEPOSITPHOTOS ОТНОСИТЕЛЬНО ПРЕДМЕТА ДАННОГО СОГЛАШЕНИЯ.
    </p>
    <p>
        В СЛУЧАЕ, ЕСЛИ ПОЛЬЗОВАТЕЛЬ НЕ СОГЛАСЕН С УСЛОВИЯМИ И ПОЛОЖЕНИЯМИ ОДНОГО ИЛИ НЕСКОЛЬКИХ ВЫШЕУКАЗАННЫХ ДОКУМЕНТОВ, ОН ДОЛЖЕН ПРЕКРАТИТЬ ИСПОЛЬЗОВАНИЕ ВЕБ-САЙТА ИЛИ КАКИХ-ЛИБО ФУНКЦИЙ САЙТА, КОТОРЫЕ РЕГУЛИРУЮТСЯ УСЛОВИЯМИ И ПОЛОЖЕНИЯМИ ДАННОГО СОГЛАШЕНИЯ; ИСПОЛЬЗУЯ ВЕБ-САЙТ И ЕГО ФУНКЦИИ, ПОЛЬЗОВАТЕЛЬ БЕЗОГОВОРОЧНО СОГЛАШАЕТСЯ СО ВСЕМИ УСЛОВИЯМИ И ПОЛОЖЕНИЯМИ ДАННОГО СОГЛАШЕНИЯ.
    </p>

</div>