@using Racoonogram.Models;
@using System.Linq;
@using System;
@using System.Collections.Generic;
@using System.Web;
@using System.Web.Mvc;
@using Racoonogram.Controllers;
@using System.Data.Entity;

@model IEnumerable<Racoonogram.Models.Image>
@using Racoonogram.Helpers



<h2>Работы автора:</h2>
@foreach (var item in Model)
{
<div class="col-sm-4 col-xs-6 img-descr-image">
    <a href="/Home/ImagePreview/@item.ImageId">
        <img src="~/Content/Content-image/@item.Url" onerror="this.src='/Content/Images/notFound.jpg'" />
    </a>
    
    <div class="drop-buttons">

        <a href="#" class="aLike" id="@item.ImageId"><i class="fa fa-heart-o"></i></a>
        <a href="#shareModal" style="padding-right:9px" data-toggle="modal" data-whatever="@item.ImageId"><i class="fa fa-share-alt"></i></a>
    </div>
</div>
}

@*<div class="btn-group">
       @* @Html.PageLinks(Model.PageInfoPag, x => Url.Action("PhotoGalery", new { page = x }))
    </div>*@

