<div class="container text-doc">
    <div class="row">
        <h2>Вопрос-ответ</h2>
        <div class="question">
            <button type="button" class="btn btn-danger" data-toggle="collapse" data-target="#quest1">
                1
            </button>
            <a href="#quest1" data-toggle="collapse" data-target="#quest1">Что такое Raccoonogram?</a>

            <div id="quest1" class="collapse in" style="margin-left:40px">
                <p>
                    Raccoonogram - это веб-сервис, который позволяет фотографам и художникам делиться своими работами с миром, при этом зарабатывая деньги.<br />
                    Посетители веб-сервиса Raccoonogram могут не только выкладывать, но и приобретать работы авторов для дальнейшего использования в коммерческих и некоммерческих целях.
                </p>
            </div>
        </div>
        <br />
        <div class="question">
            <button type="button" class="btn btn-danger" data-toggle="collapse" data-target="#quest2">
                2
            </button>
            <a href="#quest2" data-toggle="collapse" data-target="#quest2">Как приобрести изображение?</a>

            <div id="quest2" class="collapse  in" style="margin-left:40px">
                <p>
                    Существует два способа приобретения изображения: на платной и на бесплатной основе.<br />
                </p>
                <p>
                    В случае, если правообладатель не установил стоимость изображения, данное изображение является бесплатным. В остальных случаях стоимость изображения обозначена в долларах в поле Стоимость карточки товара (изображения).
                    <br />
                    В соответствиями с правилами использования сервиса Raccoonogram стоимость изображения <b>не может превышать 6 долларов</b> с учетом процентов за посредничество.
                </p>
                <hr />
                <p>
                    <i>
                        Проценты за посредничество - фиксированная сумма (15%), которая начисляется на изображение сверх указанной правообладателем стоимости.<br />
                        При оформлении покупки изображения эта сумма автоматически перечисляется на счет веб-сервиса.
                        Сумма в карточке товара является окончательной и уже включает в себя проценты за посредничество.
                    </i>
                </p>
            </div>
        </div>
        <br />
        <div class="question">
            <button type="button" class="btn btn-danger" data-toggle="collapse" data-target="#quest3">
                3
            </button>
            <a href="#quest3" data-toggle="collapse" data-target="#quest3">Какие браузеры совместимы с этим сайтом?</a>

            <div id="quest3" class="collapse" style="margin-left:40px">
                <p>
                    На данный момент наш сайт совместим с наиболее популярными браузерами, такими как Internet Explorer, Opera, Mozilla Firefox, Google Chrome, Safari и др. Если у Вас возникли проблемы с доступом при использовании любого браузера, свяжитесь с нашей cлужбой поддержки.
                </p>
            </div>
        </div>
        <br />
        <div class="question">
            <button type="button" class="btn btn-danger" data-toggle="collapse" data-target="#quest4">
                4
            </button>
            <a href="#quest4" data-toggle="collapse" data-target="#quest4">Могу ли поделиться моими логином и паролем с друзьями и коллегами?</a>

            <div id="quest4" class="collapse" style="margin-left:40px">
                <p>
                    Нет, в соответствии с Условиями использования сайта, учетная запись действительна только для одного человека. Нарушение данного правила может привести к блокированию Вашего аккаунта.
                </p>
            </div>
        </div>
        <br />
        <div class="question">
            <button type="button" class="btn btn-danger" data-toggle="collapse" data-target="#quest5">
                5
            </button>
            <a href="#quest5" data-toggle="collapse" data-target="#quest5">Могу ли я завести несколько аккаунтов на сайте?</a>

            <div id="quest5" class="collapse" style="margin-left:40px">
                <p>
                    На один адрес электронной почты, равно как и на один логин, может быть зарегистрирован только один аккаунт. Аккаунт предназначен для выполнения только одной роли: либо продажи, либо покупки изображений.
                </p>
                <p>
                    Если вы хотите и покупать, и продавать изображения,  Вам необходимо зарегистрировать два аккаунта, привязав к ним разные электронные почты.
                </p>
            </div>
        </div>
        <br />
        <div class="question">
            <button type="button" class="btn btn-danger" data-toggle="collapse" data-target="#quest6">
                6
            </button>
            <a href="#quest6" data-toggle="collapse" data-target="#quest6">Как найти определенное изображение? </a>

            <div id="quest6" class="collapse" style="margin-left:40px">
                <p>
                    <b>Поиск по ключевому слову</b>
                    Raccoonogram использует мощную интуитивную поисковую систему. Просто введите несколько ключевых слов, описывающих изображение, которое вы ищете. Если у вас есть какие-то ограничения или требования к нужному изображению, вы можете воспользоваться нашим расширенным поиском. Кроме этого, изображения можно фильтровать по определенным параметрам.
                    <b>Поиск по категории</b>
                    Чтобы обеспечить быстрые и наиболее полные результаты поиска, Raccoonogram предлагает поиск по категории, который выведет все необходимые Вам изображения в виде тематических групп.
                </p>
            </div>
        </div>
        <br />
        <div class="question">
            <button type="button" class="btn btn-danger" data-toggle="collapse" data-target="#quest7">
                7
            </button>
            <a href="#quest7" data-toggle="collapse" data-target="#quest7">На каком языке я должен вводить поисковые (ключевые) слова?</a>

            <div id="quest7" class="collapse" style="margin-left:40px">
                <p>
                    Вы можете осуществлять поиск по ключевым словам на английском языке.
                </p>
            </div>
        </div>

    </div>
</div>