<div class="container">
    <div class="row">
        <h2>Вопрос-ответ</h2>
        <div class="question">
            <button type="button" class="btn btn-danger" data-toggle="collapse" data-target="#quest1">
                1
            </button>
            <a href="#quest1" data-toggle="collapse" data-target="#quest1">Что такое Raccoonogram?</a>

            <div id="quest1" class="collapse in" style="margin-left:40px">
                <p>
                    Raccoonogram - это веб-сервис, который позволяет фотографам и художникам делиться своими работами с миром, при этом зарабатывая деньги.<br />
                    Посетители веб-сервиса Raccoonogram могут не только выкладывать, но и приобретать работы авторов для дальнейшего использования в коммерческих и некоммерческих целях.
                </p>
            </div>
        </div>

        <div class="question">
            <button type="button" class="btn btn-danger" data-toggle="collapse" data-target="#quest2">
                2
            </button>
            <a href="#quest2" data-toggle="collapse" data-target="#quest2">Как приобрести изображение?</a>

            <div id="quest2" class="collapse" style="margin-left:40px">
                <p>
                    Существует два способа приобретения изображения: на платной и на бесплатной основе.<br/>
                </p>
                <p>
                    В случае, если правообладатель не установил стоимость изображения, данное изображение является бесплатным. В остальных случаях стоимость изображения обозначена в долларах в поле Стоимость карточки товара (изображения).
                    <br />
                    В соответствиями с правилами использования сервиса Raccoonogram стоимость изображения <b>не может превышать 6 долларов</b> с учетом процентов за посредничество.
                </p>
                <hr />
                <p><i>Проценты за посредничество - фиксированная сумма (15%), которая начисляется на изображение сверх указанной правообладателем стоимости.<br />
                    При оформлении покупки изображения эта сумма автоматически перечисляется на счет веб-сервиса.
                    Сумма в карточке товара является окончательной и уже включает в себя проценты за посредничество.</i></p>
            </div>
        </div>


    </div>
</div>